body {
    background: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}

nav>a {
    color: white;
    background-color: rgb(98, 163, 155);
    padding: 1em;
    border-radius: 0.5rem;
    border: 2px solid rgb(189, 231, 226);
    box-shadow: 2px 3px rgb(135, 188, 181);
    ;
    text-decoration: none;
    margin-left: 0.5em;
}